.description {
  color: var(--primary-color);
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

.h2_heading {
  text-transform: uppercase;
  color: var(--white-color);
  line-height: 1.5;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  position: relative;
  letter-spacing: 2px;
  padding-bottom: 15px;
}
@media (min-width: 991px) {
  .h2_heading {
    display: none;
  }
}
