@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #8397BE;
  --secondary-color:#CBD6EE;
  --info-color:#5CE6D4;
  --info-hover-color:#122B39;
  --body-color:#475569;
  --white-color: #fff; 
  --black-color: #000;
  --bg-color: #0f172a;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --line-height: 1.6;
  --body-font-size: 16px;
  --transition: all 0.4s ease-in-out;
  --fs-display-1: clamp(1.5rem, 4vw, 3rem); 
  --fs-display-2: 1.25rem; /*clamp(24px, 4vw, 40px);*/
  --fs-display-3: 1.001rem /* clamp(18px, 4vw, 28px);*/
  --fs-display-4: clamp(20px, 4vw, 24px);
  --fs-display-5: clamp(18px, 5vw, 22px);
  --fs-display-6: clamp(16px, 4vw, 18px);
}
body {
  font-family: var(--secondary-font);
  font-size: var(--body-font-size);
  color: var(--body-color);
  line-height: var(--line-height);
  background-color: var(--bg-color);
  font-weight: 400;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--primary-font);
  font-weight: 600;
}

h1,
.h1 {
  font-size: var(--fs-display-1);
}

h2,
.h2 {
  font-size: var(--fs-display-2);
}

h3,
.h3 {
  font-size: var(--fs-display-3);
}

h4,
.h4 {
  font-size: var(--fs-display-4);
}

h5,
.h5 {
  font-size: var(--fs-display-5);
}

h6,
.h6 {
  font-size: var(--fs-display-6);
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 1.25rem;
  line-height: 1.5;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: var(--transition);
}

.mt-20 {
  margin-top: 1px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  margin-bottom: 0;
}



/* actual css start  */

.content_wrapper{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
header {
  padding: 6rem 0;
  width: 48vw;
  position: fixed;
  top: 0;
}

main {
  padding: 6rem 0 0 0;
  margin-left: 48vw;
  width: 52vw;
}

/* actual css end  */

@media (max-width: 991px) {
  .content_wrapper{
    display: block;
    padding: 0;
  }
  header {
    position: unset;
    width: 100vw;
  }
  main {
    padding: 0;
    margin-left: 0; 
    width: 100vw;
  }

}
